body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.judul{
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.Photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 80%;
  width: 220px;
  height: 230px;
  cursor: pointer;
}
  .Photo:hover {
    width: 240;
  }
.tulisan{
  font-family: 'arial';
  text-align: center;
  text-justify: inter-word;
}
.SKILL{
  font-family: 'arial';
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  text-justify: inter-word;
}
.card-img-top {
  width: 210px;
  height: 230px; 

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200;
  height: 120;
  cursor:pointer;
}
.img:hover{
  width: 230;
}
table {
  margin-left: auto;
  margin-right: auto;
  border:"3";
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.card-title{
  text-align: center;
}
.card-text{
  text-align: center;
}