body{
  background-color: aqua;
}
.judul{
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200;
  height: 120;
  cursor:pointer;
}
.img:hover{
  width: 230;
}
